<div id="sidebar">
<ul>
  <li>
    <h2>Genre</h2>
    <ul class="genre">
      <% @genres.each do |genre| %>
    <li>
      <%= link_to genre.name, genre %>
    </li>
    <% end %>
    </ul>
  </li>
</ul>
</div>
