<div class="col-md-6 col-md-offset-3">
  <span class=""><%= mangak.name %></span>
  <span class="content">
    <%= mangak.description %>
    <%= image_tag mangak.picture.url if mangak.picture? %>
  </span>
  </div>
