<% provide :title, "All manga" %>
<h1>All manga</h1>
<ul class="users">
  <% @mangaks.each do |mangak| %>
    <li>
      <%= image_tag mangak.picture.url, size: 50 %>
      <%= link_to mangak.name, mangak %>
    </li>
  <% end %>
</ul>
<%= will_paginate %>
