@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color.scss';
@import 'mixin.scss';

body{
  padding-top: 60px;
}

section{
  overflow: auto;
}

textarea{
  width: 300px;
  resize: vertical;
}

.center{
  text-align: center
}

h1{
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: -1px

}

h2{
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: -1px
}

  #logo {
    float: left;
    margin-left: -500%;
    font-size: 1.7em;
    color: black;
    text-transform: capitalize;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: lighter;
    &:hover {
     color: $blue;
     text-decoration: none;
   }
 }

.header {
  background-color: #b2b2b2;
  margin-left: 4%;
  margin-right: 4%;
}


.header ul.navbar-nav {flex-direction: row !important;}

.topnav {
  overflow: hidden;
  background-color: black;
}

.item div.manga-item {

  .manga-item-img {
  margin-left: 0%;
  margin-right: 0%;
  }

  .manga-item-text {
  text-align: center;
  }
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: -90px;
  border: none;
  font-size: 17px;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: -10px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.col-md-1.col-md-offset-1 img{
  margin-left: -145px;
}

.col-md-4.col-md-offset-3 {
  margin-left: 13px;
}

.btn.btn-primary {
  margin-left: 28px;
}

#rcorners2 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 100%;
  height: 150px;
  font-size: 110%
}


 //slide
.carousel{
  background: #2f4357;
  margin-top: 20px;
}
.carousel .item{
  min-height: 100%;
}

.carousel .item img{
  max-width: 100%;
  margin-left: -5%;
  margin-right: 30%;
  margin-bottom: -9%;
}

.carousel .item img center{
  height: 333px;
}

.bs-example{
  margin: 20px;
}

//popular manga

.container{
margin-top: -20px;
}

.popular-manga {
  margin-left: -53px;
}

.popular-title img {
    float:left;
    height:49x;
    margin: 0 10px 0 3px;
    padding: 2px;
    width: 49px;
  }

.update_image img {
    float:left;
    height:49x;
    margin: 0 10px 0 3px;
    padding: 2px;
    width: 49px;
}

.most-read {
  margin-left: 0px;
  margin-right: -180px;
}

.recent_nav {
  overflow: hidden;
  background-color: #828282;
  margin-right: 142px;
}

.recent_nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 8px 21px;
  text-decoration: none;
  font-size: 17px;
}

.recent_nav a:hover {
  background-color: #ddd;
  color: black;
}

.recent_nav a.active {
  background-color: #2196F3;
  color: white;
}

.recent_nav input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: -90px;
  border: none;
  font-size: 17px;
}


.card
{
  display: block;
  border: none;
  background: #f8f9fb;
}
.card:hover .card-img-top
{
  opacity: 0.6;
}
.card:hover .card_plus
{
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
.card_img
{
  background: #1a1a1a;
}
.card-img-top
{
  border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.card_plus
{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  -moz-transform: translate(-50%, -50%) scale(0.5);
  -ms-transform: translate(-50%, -50%) scale(0.5);
  -o-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  width: 75px;
  height: 75px;
  background: #ffb606;
  z-index: 10;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}
.card_plus a
{
  display: block;
  font-size: 24px;
  line-height: 75px;
  color: #FFFFFF;
}
.card-body
{
  padding-top: 0px;
  padding-bottom: 58px;
  padding-left: 15px;
  padding-right: 15px;
}
.card-title
{
  margin-top: 55px;
}
.card-title a
{
  font-size: 22px;
  font-weight: 500;
  color: #1a1a1a;
  line-height: 1.2;
}
.card-title a:hover
{
  color: #a5a5a5;
}
.card-text
{
  font-size: 14px;
  font-weight: 500;
  color: #a5a5a5;
  margin-top: -7px;
}
.chapter p {
    padding: 8px 16px;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
}

.chapter p:hover {
    background-color: #ddd;
}

.button {
    background-color: #ddd;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    boder-radius: 10px;
}
ul {
  list-style-type: none;
 }

 .comments {
  list-style: none;
  padding: 0;
    li {
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
    }
    .user {
      margin-top: 5em;
      padding-top: 0;
   }
    .content {
      display: block;
      margin-left: 60px;
      img {
        display: block;
        padding: 5px 0;
      }
    }
    .timestamp {
      color: $gray-light;
      display: block;
      margin-left: 60px;
    }
    .gravatar {
      float: left;
      margin-right: 10px;
      margin-top: 5px;
    }
  }

  aside {
    textarea {
      height: 100px;
      margin-bottom: 5px;
    }
  }

  span.picture {
    margin-top: 10px;
    input {
      border: 0;
    }
  }

 //login
.view {
  height: 100%;
}

@media (max-width: 740px) {
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
 .view {
    height: 650px;
  }
}

.top-nav-collapse {
  background-color: #3f51b5 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #3f51b5 !important;
  }
}

.card {
  background-color: rgba(126, 123, 215, 0.2);
}

.md-form label {
  color: #ffffff;
}

h6 {
  line-height: 1.7;
}

.text-login{
  color: #ffffff;
}
.field-white {
  color: #ffffff;
}

.row.mt-5 {
  margin-bottom: 50px;
}

.mask.rgba-gradient.d-flex.justify-content-center.align-items-center {
  margin-bottom: 60px;
}

.inline-ul.text-center.d-flex.justify-content-center img {
  margin-bottom: -76px;
  margin-top: -25px;
  margin-left: 20px;
  height: 150%;
}

.h1-responsive.font-weight-bold.wow.fadeInLeft {
  margin-top: 97px;
}

.form-control {
  color: #000000;
}

//admin
.dib {
  display: inline-block; }

.stat-widget-one .stat-icon {
  vertical-align: top; }

.stat-widget-one .stat-icon i {
  font-size: 30px;
  border-width: 3px;
  border-style: solid;
  border-radius: 100px;
  padding: 15px;
  font-weight: 900;
  display: inline-block; }

.stat-widget-one .stat-content {
  margin-left: 30px;
  margin-top: 7px; }

.stat-widget-one .stat-text {
  font-size: 14px;
  color: #868e96; }

.stat-widget-one .stat-digit {
  font-size: 24px;
  color: #373757; }

/*    Widget Two
---------------------------*/
.stat-widget-two {
  text-align: center; }

.stat-widget-two .stat-digit {
  font-size: 1.75rem;
  font-weight: 500;
  color: #373757; }

.stat-widget-two .stat-digit i {
  font-size: 18px;
  margin-right: 5px; }

.stat-widget-two .stat-text {
  font-size: 16px;
  margin-bottom: 5px;
  color: #868e96; }

.stat-widget-two .progress {
  height: 8px;
  margin-bottom: 0;
  margin-top: 20px;
  -webkit-box-shadow: none;
          box-shadow: none; }

.stat-widget-two .progress-bar {
  -webkit-box-shadow: none;
          box-shadow: none; }

/*    Widget Three
---------------------------*/
.stat-widget-three .stat-icon {
  display: inline-block;
  padding: 33px;
  position: absolute;
  line-height: 21px; }

.stat-widget-three .stat-icon i {
  font-size: 30px;
  color: #ffffff; }

.stat-widget-three .stat-content {
  text-align: center;
  padding: 15px;
  margin-left: 90px; }

.stat-widget-three .stat-digit {
  font-size: 30px; }

.stat-widget-three .stat-text {
  padding-top: 4px; }

.home-widget-three .stat-icon {
  line-height: 19px;
  padding: 27px; }

.home-widget-three .stat-digit {
  font-size: 24px;
  font-weight: 300;
  color: #373757; }

.home-widget-three .stat-content {
  text-align: center;
  margin-left: 60px;
  padding: 13px; }

/*    Widget Four
---------------------------*/
.stat-widget-four {
  position: relative; }
  .stat-widget-four .stat-icon {
    display: inline-block;
    position: absolute;
    top: 5px; }
  .stat-widget-four i {
    display: block;
    font-size: 36px; }
  .stat-widget-four .stat-content {
    margin-left: 40px;
    text-align: center; }
  .stat-widget-four .stat-heading {
    font-size: 20px; }

/*    Widget Five
---------------------------*/
.stat-widget-five {
  min-height: 60px; }
  .stat-widget-five .stat-icon {
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    left: 30px;
    top: 20px; }
  .stat-widget-five .stat-content {
    margin-left: 100px; }
  .stat-widget-five .stat-text {
    color: #455a64;
    font-size: 20px; }
  .stat-widget-five .stat-heading {
    color: #99abb4;
    font-size: 14px; }

.horizontal:before {
  background: #ffffff;
  bottom: 0;
  content: "";
  height: 38px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 1px; }
.text-left.dib {
  margin-top:25px;
}

//bg-flat
.bg-flat-color-1 {
  background: #00c292; }

.bg-flat-color-2 {
  background: #ab8ce4; }

.bg-flat-color-3 {
  background: #03a9f3; }

.bg-flat-color-4 {
  background: #fb9678; }

.bg-flat-color-5 {
  background: #66bb6a; }

.bg-flat-color-6 {
  background: #5c6bc0; }

  .progress-box {
  margin-bottom: 30px; }
  .progress-box .por-title {
    font-size: 1em;
    font-weight: 600;
    color: #868e96;
    padding-bottom: 5px; }
  .progress-box .por-txt {
    font-size: 13px;
    padding-bottom: 5px; }

.card-body img {
  width: 109%;
  margin-top: 27px;
}
