<div class="header">
  <div class="navbar navbar">
    <div class="container">
    <div class="nav navbar-nav navbar-header">
      <%= link_to "Mangak", root_path, id: "logo" %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><%= link_to "Home", root_path %></li>
      <li><%= link_to "log in", "#" %></li>
    </ul>
    </div>
  </div>
  <div class="topnav">
    <a class="active" href="#home">Manga</a>
    <a href="#">Manga list</a>
    <a href="#">Manga hot</a>
    <input type="text" placeholder="Search..">
  </div>
</div>
